
body {
    background-color: #fff09e;
    font-family: cursive;
}
h1{
    text-align:center;
    border:dashed;
    border-color: saddlebrown;
}
h2{text-align:center;}

.button {
   display:flex;
    justify-content: center;
    margin-bottom: 10px;
    align-content: center;



}

    .button button {
        background-color: #e68a00;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
    }
    .button button:hover{
        opacity: 1;
    }
.image {
    display: flex;
    justify-content: center;
    align-content: center;
}
.image img{
    max-width:100%;
}

p{
    text-align:center;
    font-size: large;
}